.header {
    background: white;
    overflow: hidden;
}

.header__inner {
    margin: 0 auto;
    padding: 40px 40px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    position: relative;
}

.header-left {
    width: 200px;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.header__logo {
    font-size: 33px;
    color: #7b6e65;
    font-family: serif;
    font-weight: normal;
    white-space: nowrap;
}

.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 200px;
    padding-right: 30px;
}


.header-nav__link {
    display: inline-block;
    padding: 5px 25px;
    border: 1px solid #D2B48C;
    background-color: #EEEEEE;
    color: #D2B48C;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
    cursor: pointer;
}

.header__line {
    height: 1px;
    background-color: #e6ded7;
    margin: 0;
    width: 100%;
}